<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="home">

  <button *ngIf="!isLogin" (click)="googleLogin()">Login</button>

  <ion-card *ngIf="isLogin">
    <ion-card-header>
      {{ displayName | async }}
    </ion-card-header>
    <ion-card-content>
      <button secondary (click)="logTime()">Log Time</button>
    </ion-card-content>
  </ion-card>


</ion-content>
